.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-container {
    margin-left: 500px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.game-container {
    display: none;
}

.stats {
    color: #FFF;
    font-size: 14pt;
}

.racoon-bg {
    position: absolute;
    height: 70vh;
    top: 50%;
    left: 10vw;
    transform: translateY(-50%);
}