.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.game-container {
    display: none;
}

.game-container__header {
    display: flex;
    margin-bottom: 10px;
}

.stats {
    color: #FFF;
    font-size: 14pt;
    flex: 1;
}